:root {
    --theme-blue-color: #4eabff;
    --theme-absolute-color: rgb(60, 60, 60);
    --theme-color-0:  rgb(43, 43, 43);
    --theme-color-1:  rgb(43, 43, 43);
    --theme-invert-color: #ffffff;
    --theme-invert-color-0: rgb(206, 206, 206);
    --theme-shadow-0: rgba(77, 77, 77, 0.8);
    --theme-shadow-1: rgba(53, 53, 53, 0.8);
    --theme-shadow-2: rgba(34, 34, 34, 0.8);
}
.box {
    width: 100%; 
    background-color:var(--theme-color-1);
    box-shadow: 1px 3px 4px 2px var(--theme-shadow-2); 
    padding: 0.5rem; 
    border-radius: 5px; 
    margin: auto; 
    margin-bottom: 1rem;
}
.expand-item {
    width: 17em;
    height: 100%;
    background-color: var(--theme-absolute-color);
    box-shadow: 2px 2px 35px 1px rgba(27, 27, 27, 0.5);
    border-radius: 10px; 
    margin: 1rem; 
    padding: 0.5em;
    transition: all 0.5s;
}