:root {
    --theme-primary-color: #0F4C81;
    --theme-secondary-color: #A8C9E5;
    --theme-absolute-color: #ffffff;
    --theme-color-0: #F1EFE0;
    --theme-color-1: #ffffff;
    --theme-invert-color: #000000;
    --theme-invert-color-0: gray;
    --theme-shadow-0: rgba(170, 167, 167, 0.3);
    --theme-shadow-1: rgba(0,0,0,0.12);
    --theme-shadow-2: rgba(170, 167, 167, 0.7);
}
.box {
    width: 100%; 
    background-color:var(--theme-color-1);
    box-shadow: 0 4px 6px 1px var(--theme-shadow-2); 
    padding: 0.5rem; 
    border-radius: 5px; 
    margin: auto; 
    margin-bottom: 1rem;
}
.expand-item {
    width: 17em;
    height: 100%;
    box-shadow: 0 4px 8px 3px var(--theme-shadow-1);
    border-radius: 10px; 
    margin: 1rem; 
    padding: 0.5em;
    transition: all 0.5s;
}