a {
    color:var(--theme-primary-color);
    transition: all 0.2s;
}
    a:link {
        text-decoration: none;
        color:var(--theme-primary-color);
    }
    a:visited {
        text-decoration: none;
        color:var(--theme-primary-color);
    }
    a:active {
        text-decoration: none;
        color:var(--theme-primary-color);
    }
    a:hover {
        text-decoration: none;
        color:var(--theme-invert-color-0);
    }
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-size: 15px;
    background-color: var(--theme-absolute-color);
    color: var(--theme-invert-color);
}
.caption-text {
    color: var(--theme-primary-color);
}
.jumbotron { 
    background-color: var(--theme-color-0);
}
    .jumbotron .theme-switch {
        position: absolute;
        top: 0;
        right: 0;
    }
        .jumbotron .theme-switch :hover{
            cursor: pointer;
        }
#self-image {
    width: 100%;
    margin: 0.5rem
}
.path {
    font-family:SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace!important;
    font-weight: bold;
    margin-bottom: 1rem;
}
.bio-link {
    display: flex;
}
    .bio-link svg {
        height: 1.5rem;
        width: 1.5rem;
        margin: 0 1rem;
    }
        .bio-link svg:first-child {
            margin: 0 1rem 0 0;
        }
        .bio-link svg:hover {
            cursor: pointer;
        }
        .bio-link svg path {
            fill:var(--theme-invert-color);
        }
            .bio-link svg:hover path {
                fill: var(--theme-primary-color);
                transition: fill 0.3s;
            }

.research-item {
    margin-bottom: 1rem;
}
.research-item img {
    width: 100%;
}
.research-item .award-outer {
    padding: 2px;
    border-radius: 0.2rem;
    background: linear-gradient(to bottom right, #EAC925, #D89810, #DCB319);
    display: inline-block;
}

.research-item .award-outer .award {
    padding: 0.1rem 0.5rem;
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 0.1rem;
    background-color: #E3B71A;
    color: white;
    margin: auto;
}

.badge-bar {
    display: flex;
}
.badge-bar .badge {
    margin-inline: 0.2rem;
}
.badge-bar .badge:first-child {
    margin: 0 0.2rem 0 0;
}

.company::before {
    content: "@";
    font-weight: bold;
    margin-right: 0.1rem;
    color: var(--theme-secondary-color);
}
.tag {
    font-size: 0.8rem;
    margin-right: 0.4rem;
    color: var(--theme-invert-color-0)
}
.tag::before {
    content: "#";
    font-weight: bold;
    margin-right: 0.1rem;
    color: var(--theme-secondary-color);
}
.research-link {
    margin-right: 0.2rem;
}

#news-list {
    max-height: 60vh;
    overflow-y: scroll;
}

#news-list .news-item {
    margin: 0.5rem;
}